// Nesting
@import "base/variables";
@import "base/mapas";
@import "base/listas";
@import "base/mixin";
@import "base/extend";

header{
    display: flex;
    flex-direction: column;
    align-items: center; 
    
    img{
    height: 80px;
    padding: 10px;
    nav {    
        ul{
            display: flex;
            justify-content: center;
            column-gap: 10px;
            list-style: none;
            border-radius: 25px;
            font-weight: bold;
            padding: 5px;
            li :hover{
                display: flex;
                justify-content: center;
                column-gap: 10px;
                list-style: none;
                background-color: whitesmoke;
                padding: 5px;
                border-radius: 25px;
                font-weight: bold;
                transform: scale(0.9);
                box-shadow: 1px 1px 10px gray;

            }
        }
        }
    }
      
}
    
main{
    .boton-standard {
        background-color: map-get($map: $standard, $key: bg-standard );
        color: map-get($map: $standard, $key: color-standard );
    }
    div{
        @include medidas (400px, 300px);
    }
    section {
        @include box-model;
        @extend %flex;
    }
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1.5fr 1fr 1fr 0.5fr;
    grid-template-areas: "titulo-p titulo-p"
                         "parrafo parrafo"
                         "img img";
    justify-content: center;     
    justify-items: center;
    align-items: center;     
    
    img{
    display:flow-root;
    justify-content: center;
    align-items: center;   
    margin: 25px;
    padding: 10 px;
    h2{
    color: nth ($colores,3);    
    grid-area: titulo-p;
    text-align: center;
    font-size: 28px;
    text-align: center;
    color:brown;
    text-decoration:underline ;
    h3{
        grid-area: parrafo;
        text-align: center;
        margin: 40px 300px 40px 300px;
        line-height: 30px;  

    }
    }
    }
}

footer{
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    background-image:linear-gradient(to top, brown,rgb(241, 117, 117) ) ;
    height: 80px;
    padding-top: 50px;    

}

contacto{
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

estiloimg{
   display: grid;
   height: 100vh;
   grid-template-columns: 33% 33% 33%;
   grid-template-rows: 300px 300px ;
   gap: 8px;
   justify-items: center;
   align-items: center;
}

estiloalq{
    display: grid;
    height: 100vh;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 300px 300px ;
    gap: 8px;
    justify-items: center;
    align-items: center;
}

t1{
    width: 100%;
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center; 
}